﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dvet Academic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../assets/images/dvetlogo.png" type="image/png">
    <!--link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />
    <link href="~/Content/assets/css/layout.css" rel="stylesheet" />


    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/assets/js/layout.js"></script>

    <!-- Ignite UI Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2018.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2018.1/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/infragistics.lob.js"></script>



    <script>
        $(document).on("click", "#btnsubmit", function () {
         var modeldata = {
             Letter_Type: $("#txtLetterType").val(),
             Letter_ref_number: $("#txtLetterref").val(),
             Sender_Name: $("#txtSender").val(),
            Subject: $("#txtsubject").val(),
            Received_through: $("#txtReceived").val(),
            Delivary_Receive_Mode: $("#txtDelivary").val(),
            Received_Date: $("#txtReceivedDate").val(),
            Attached_Document: $("#txtAttached").val(),


         }



$.ajax({

                    url: '@Url.Action("Submit", "Inward")',
                    type: "POST",
                    dataType:"JSON",
                    data: { model: modeldata},
                    async: false,
                    success: function (response) {
                        $("#txtLetterType").val("");
                        $("#txtLetterref").val("");
                        $("#txtSender").val("");
                        $("#txtsubject").val("");
                        $("#txtReceived").val("");
                        $("#txtDelivary").val("");
                        $("#txtReceivedDate").val("");
                        $("#txtAttached").val("");

                        alert("record has been saved in database");
                    },
                    error: function () {
                        console.log("there is some error");
                    }

                })

        });
    </script>





</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="contentpart">
                    <div class="dva-page-title mb-2">Inward</div>
                    <form>

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Letter Type</label>
                                    <select class="form-control" id="txtLetterType">
                                        <option value="0">Select</option>
                                        <option value="1">Personal</option>
                                        <option value="2">Confidential</option>
                                        <option value="2">Normal</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Letter ref number</label>
                                    <input type="text" id="txtLetterref"class="form-control" placeholder="EnterFile Number" />

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Sender Name</label>
                                    <input type="text" id="txtSender" class="form-control" /> <a href="#"> Select</a>
                                     
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Subject</label>
                                    <input type="text" id="txtsubject" class="form-control" placeholder="Enter subject" />

                                </div>
                            </div>

                            <!--<div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Forwarded to</label>
                                    <select data-placeholder="Begin typing a name to filter..." multiple class="chosen-select" name="test">

                                        <option value="0"></option>
                                        <option value="1">Desk 1 Registry</option>
                                        <option value="2">Desk 2 Local establishment</option>
                                        <option value="3">Desk 3 Establishment 1 (Class I & II)</option>
                                        <option value="4">Desk 4 Establishment 2  (State level Class III & IV)</option>
                                        <option value="5">Desk 5 Establishment (Aided & Unaided Institutes)</option>
                                        <option value="6">Desk 6 Vigilance</option>
                                        <option value="7">Desk 7 Government ITI Institute Development, Management & Training</option>
                                        <option value="8">Desk 8 Private Aided & Unaided Institute Management & Affiliation</option>
                                        <option value="9">Desk 9 Examination</option>
                                        <option value="10">Desk 10 ATS</option>
                                        <option value="11">Desk 11 Accounts</option>
                                        <option value="12">Desk 12 Planning</option>
                                        <option value="13">Desk 13 Procurement</option>
                                        <option value="14">Desk 14 Construction</option>
                                        <option value="15">Desk 15 Non-Plan</option>
                                        <option value="16">Desk 16 e-Governance</option>
                                        <option value="17">Desk 17 Legal</option>
                                        <option value="18">Desk 18 Projects</option>
                                    </select>
                                </div>
                            </div>-->

                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Received through</label>
                                    <input type="text"  id="txtReceived" class="form-control" /> <a href="#"> Select</a>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">  Delivary Receive Mode</label>
                                    <select class="form-control" id="txtDelivary">
                                        <option value="0">Select</option>
                                        <option value="1">Ordinary Post</option>
                                        <option value="2">Registered AD</option>
                                        <option value="3">E-mail</option>
                                        <option value="3">Fax</option>
                                        <option value="3">Courier</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Received Date</label>
                                    <input type="date" id="txtReceivedDate" class="form-control" placeholder="Enter date" />

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">

                                    <label class="control-label">Attached Document</label>
                                    <input type="file"  id="txtAttached" class="form-control" placeholder="Enter file" />

                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label"><strong><h4>Forwarded to</h4></strong></label>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label"><strong><h5>Desk</h5></strong></label>
                            </div>
                            <div class="col-md-12" id="checkboxSelectCombo"></div>

                            <div class="col-md-12">
                                <label class="control-label"><strong><h5>Central govermnet</h5></strong></label>
                            </div>
                            <div class="col-md-12" id="checkboxSelectComboCG"></div>

                            <div class="col-md-12">
                                <label class="control-label"><strong><h5>Department</h5></strong></label>
                            </div>
                            <div class="col-md-12" id="checkboxSelectComboDepartment"></div>


                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-12" style=" margin-top:15px">
                <div class="form-group text-center">
                    <a href="#"><button type="button" class="btn btn-primary" id="btnsubmit"><i class="fa fa-floppy-o"></i>&nbsp; Submit</button></a>
                    <button type="button" class="btn btn-primary">Cancel</button>
                </div>
            </div>

        </div>

    </div>


    </div>
    </div>
    </div>



    <div class="modal fade" id="SelectedInwardcases">
        <div class="modal-dialog modal-dialog-grid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Case Id :-</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-xs-12 ">
                        <form>
                            <div class="row">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Status</label>
                                            <select class="form-control">
                                                <option value="0">Select</option>
                                                <option value="1">Status 1</option>
                                                <option value="2">Status 2</option>
                                                <option value="3">Status 3</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <label class="control-label">Letter Type</label>
                                            <input type="text" class="form-control" placeholder="Letter Type " readonly />

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Letter Reference number</label>
                                            <input type="text" class="form-control" placeholder="Letter Reference Number " readonly />

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Sender name</label>
                                            <input type="text" class="form-control" placeholder="Name" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Subject</label>
                                            <input type="text" class="form-control" placeholder="Subject" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Forwarded to</label>
                                            <input type="text" class="form-control" placeholder="Forwarded To" readonly />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background:#0062cc; font-size:14px;"><i class="fa fa-floppy-o">&nbsp; Save</i></button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $('.datepicker').datepicker({
            //startDate: '-3d'
        });



    </script>
</body>
</html>