/*body{ font-family: 'Roboto', sans-serif; //font-family:'Open Sans', sans-serif; font-size:0.8rem; }*/
body{ font-family: 'Roboto', sans-serif; font-size:0.8rem; background:#ffffff; height:100%; display: flex; flex-direction: column; }
ul{ padding:0; margin: 0; }
li{ list-style:none; }
.dva-content-part{
    flex:1; margin-bottom: 40px; margin-left: 255px; transition: all .3s ease;
}
.btn{ border-radius:5px; font-size:0.8rem;margin:0 3px 0 0; }
.btn:hover{cursor:pointer;}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none!important;
}
.btn-primary {
    background-color: #1f6a9a;
    border: #1f6a9a;
	padding:7px 15px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2e648a;
    border-color: #2e648a;
}
.btn-warning {
    color: #fff;
    background-color: #ff6b3cf0;
    border-color: #ff7347;
}
.btn-warning:hover {
    color: #fff;
    background-color: f95521f0;
    border-color: #ff6b3cf0;
}
.badge {
    padding: .5em .5em;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 0rem;
    color: #fff;
}
.txt-name{
    min-width: 220px;
}
.txt-date{
    min-width: 120px;
}
.table-content {
    padding: 0px 0 0px 0;
    background-color: #fdfdfd;
}
header{
    position: fixed;
    z-index: 999999;
    width: 100%;
}
.navigation_head{
    padding: 10px!important;
    text-align: center;
    background-color: #5595c2;
    border-right: 1px solid #fff;
    border-bottom: 0!important;
    color: #ffffff!important;
    font-size: 15px!important;
    cursor: default;
    text-decoration: none;
    width:100%;
}
.language-select {
    background-color: #174e80!important;
    color: #ffffff!important;
    border-radius: 5px!important;
    padding: 5px!important;
    height: 1.8rem!important;
}
.form-control{ border-radius:0; padding: .270rem .75rem; font-size: 0.8rem; }
.form-control:focus{ box-shadow:none; }
.required{ color:#dd2a2a;}
.control-label{ font-weight:500; color: #686868; }
select.form-control:not([size]):not([multiple]){ height: 1.9rem; }
.dva-content-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
.dva-login-content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 105px;
}
.contentpart {
    margin-top: 50px;
    padding: 0 15px 0 15px;
}
.dva-common-container{ background:#fff; padding:1rem; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); border-radius: 4px; }

.dva-menu { background-color: #fff !important; padding: .2rem 0rem;  background:url('../images/header-bg.jpg') no-repeat center; }
.dva-menu .navbar-brand{ display: flex; align-items: center; }
.dva-menu .navbar-brand img{ width:75px; }
.dva-brand-text{font-weight: 500;font-size: 1rem;color: #4c4c4c;margin-left: 1rem;}
.dva-menu .nav-item .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-right: 0.4rem;
    font-weight: 500;
    color: #ffffff;
    font-size: 0.7rem;
    background: #174e80;
    border-radius: 5px;
    transition: .3s all ease-out;
    margin-bottom: 2px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    background-color: #00498c!important;
    transform: scale(1.1);
}


.pviti-info-table { border: 1px dashed #eee; }
.pviti-info-table .control-label{ margin-bottom:0; }
.pviti-info-table td{ border-bottom: 1px dashed #eee; padding: 0.55rem 0.75rem; vertical-align: middle; border-top:none; }
.pviti-info-table td.title{ background: #fafafa; }
.pviti-info-table td .control-label{color: #686868; }
.dva-sub-title {
    display: table;
    font-size: 1rem;
    color: #0e5392;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 0.4rem;
}
.user-content{
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
    border-radius: 4px;
}
.user-content .col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: bold;
    color: #4c4c4c;
}
.user-content .form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left:0.2rem;
    margin-bottom: 0;
    line-height: 1.5;
    /* background-color: transparent; */
    border: solid transparent;
    border-width: 1px 0;
    background-color: #e8e8e8!important;
}
.dva-application-home-pbar{ display:table; width: 100%; }
.dva-application-home-pbar .status-pbar-row{ display:table-row; }
.dva-application-home-pbar .status-pbar-row .status-pbar-cell:first-child{ width:300px; padding: 0.8rem 0; }
.dva-application-home-pbar .status-pbar-cell{ display:table-cell; border-bottom: 1px dashed #eee; }
.dva-application-home-pbar .status-pbar-cell a{ color: #5595c2; font-weight: 500; cursor: default;}
.dva-application-home-pbar .status-pbar-cell a:hover{ text-decoration:none;}
.dva-application-home-pbar .status-pbar-cell.title{ font-weight: 500; font-size: 0.9rem; color: #28a745; }
.as-approved, .as-rejected, .as-pending{ font-size:1.6rem; }
.as-approved{ color:#59dd7b; }
.as-rejected{ color:#f26767; }
.as-pending{ color:#eee260; }
/******Homepage******/
.pviti-app-status {
    display: flex;
    flex-wrap: wrap;
}
.pviti-app-link.green {
    background: #91cf76;
}
.pviti-app-status .pviti-app-link {
    width: 200px;
    margin: 0.5rem 1.5rem 1rem 0;
    padding: 0.3rem 0.8rem;
    color: #fff;
    transition: all 0.8s ease;
}
.pviti-app-link .app-text {
    padding-top: 0.8rem;
    display: block;
    font-size: 0.9rem;
}
.pviti-app-link .app-status .icon {
    font-size: 1.5rem;
}
.pviti-app-link.green {
    background: #76bb58;
}
.pviti-app-link.blue{ background: #609bc4; }
.pviti-app-link.pink{ background: #d581b4; }
.pviti-app-link.orange{ background: #f69863; }
.pviti-app-link.red{ background: #f05d5d; }
.pviti-app-link.sement{ background: #92a7b6; }
.pviti-app-link.dark-orange{ background: #e38341; }
.pviti-app-link.dark{ background:#898787; }

.pviti-appadmin-status{ display:flex; flex-wrap:wrap; }
.pviti-appadmin-status .pviti-appadmin-link{ width: 200px; margin: 0 1rem 1rem 0; padding: 0.5rem 1rem; color: #fff !important; cursor:pointer; transition:all 0.8s ease; }
.pviti-appadmin-link .app-status{ }
.pviti-appadmin-link .app-status .icon{ font-size: 1.5rem; padding: 0.6rem; color:#fff; }
.pviti-appadmin-link .app-status .status{ float:right; font-size: 2.2rem; }
.pviti-appadmin-link .app-text{ padding-top: 0.8rem; display: block; font-weight: 500; font-size: 1rem; }
.pviti-appadmin-link.green{ background: #91cf76; }
.pviti-appadmin-link.blue{ background: #55aac2; }
.pviti-appadmin-link.red{ background: #f69863;}
.pviti-appadmin-link:hover{ transform:scale(1.1);}

/*Scrollbar***/
.scrollbar {
    float: left;
    height: 300px;
    width: 10px;
    overflow: auto;
}
#sb_style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#sb_style::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#sb_style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(23, 78, 128)), color-stop(0.72, rgb(62, 210, 251)), color-stop(0.86, rgb(23, 78, 128)));
}

.datepicker {
    padding: 4px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    direction: ltr;
    z-index: 9999999999!important;
}
/*.navbar-light .navbar-nav .nav-link:hover { background: #84d463; color:#fff; transform: scale(1.1); }*/

.dva-menu .nav-item.active .nav-link{ background: #5595c2; color: #fff; }
.dva-menu .dropdown-menu{ 
	min-width: 215px;
    border-radius: 0 0 0.3rem 0.3rem !important;
    border: 0 !important;
    padding: 0rem 0;
    margin-top: 0 !important;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
}
.dva-menu .dropdown-menu li{ border-bottom: 1px solid #ddd; }
.dva-menu .dropdown-menu li:last-child{ border-bottom:none; }
.dva-menu .dropdown-menu li a {
    display: block;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    color: #3d376f !important;
	font-size:0.8rem;
}
.dva-menu .dropdown-menu li a:hover {
    display: block;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    color: #3d376f !important;
    font-size: 0.8rem;
    background-color: #f1f1f6;
}
.dva-top-indicator {
    padding: 0.7rem 0;
    background: rgb(16, 117, 185);
}
/*.dva-top-indicator{ padding: 0.7rem 0; background: rgb(85, 149, 194); }*/

.dva-log-settings {
    position: relative;
    cursor: pointer;
    font-size: 13px;
    padding-top: 3px;
    /*text-align: left!important;*/
}
.dva-log-settings .caret{ padding-left:0.3rem; }
.dva-log-settings .dva-log-dropdown{ display:none; position:absolute; right:0; padding: 1rem 0 0 0; }
.dva-log-settings .dva-log-dropdown ul{ width: 200px; background:#fff; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); border-radius:0.3rem; }
.dva-log-settings .dva-log-dropdown ul li{ border-bottom:1px dashed #eee;}
.dva-log-settings .dva-log-dropdown ul li:last-child{ border-bottom:0px solid #eee;}
.dva-log-settings .dva-log-dropdown ul li a{ padding: 0.6rem 1rem; display: block; color:#706f6f; }
.dva-log-settings:hover .dva-log-dropdown{ display:block; }
.dva-log-settings .settings{ color: #646161; font-weight: 500; font-size: 0.9rem; padding-left: 0.4rem; }

/* Breadcrumbs */
.mk-breadcumb-bar .breadcrumb{ font-weight: 500; padding: 3px; margin-bottom: 0; border-radius: 0; background:transparent; color: #ffffff;font-size:13px; }
.mk-breadcumb-bar .breadcrumb a{ color:#ffffff;font-size:13px;}
.mk-breadcumb-bar .breadcrumb .breadcrumb-item.active { color: #efecec; }
.mk-breadcumb-bar .breadcrumb-item+.breadcrumb-item:before{ color:#ffffff; }


/*.mk-page-bar .mk-horizontal-menu .mega-dropdown:before {
    position: absolute;
    content: '\f107';
    top: 4px;
    right: 15px;
    font: normal normal normal 16px/1 FontAwesome;
}*/
.mega-dropdown .mk-hm-dropdown {
    /* background-color: #1F67A6!important; */
    right: 5%!important;
    left: 30px;
    width: auto!important;
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu .dropdown-header {
    color: #f8f8f8;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #fff;
    padding: 5px 0 5px 5px;
    white-space: pre-wrap;
    background-color: #174e8026;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #99B7DE;
    white-space: nowrap;
    border: 1px solid #1F67A6;
    font-size:12px;
}
.mega-dropdown-menu > li > ul > li > a:focus, .mega-dropdown-menu > li > ul > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #023463;
    border: 1px solid #0073FF;
}
/*.dva-menu {background: linear-gradient(45deg, rgba(15,115,186,1) 0%, rgba(67,230,137,1) 100%)!important; padding: 0;}
.navbar-brand-text-con{ margin: -15px 0px 0px -20px; color:rgb(249, 249, 249);}
.navbar-brand-text{ font-weight: 600; font-size: 20px; line-height: 1.5;  }
.dva-menu .navbar-brand img{ width:100px; }
.dva-menu .navbar-brand {padding: 5px 15px;}
.dva-menu .nav-item .nav-link{ padding-right: 1rem; padding-left: 1rem; font-weight: 500;color: #fff; //font-size: 1rem; }
.navbar-light .navbar-nav .nav-link:hover {color: #ffffff;}
.navbar-nav li a {font-size: 14px;font-weight: 600;}
.navbar-nav > li:hover {background-color: rgb(228, 99, 17);}
.dva-menu .nav-item.active .nav-link{ background: #7b81a2; border-bottom: 3px solid #e57716; color: #fff; }
.dva-menu .dropdown-menu{ 
	min-width: 215px;
    border-radius: 0 0 0.3rem 0.3rem !important;
    border: 0 !important;
    padding: 0rem 0;
    margin-top: 0 !important;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(113,106,202,.2);
}
.dva-log-settings ul li {
    display: inline-block;
}
.dva-menu .dropdown-menu li{ border-bottom: 1px solid #ddd; }
.dva-menu .dropdown-menu li:last-child{ border-bottom:none; }
.dva-menu .dropdown-menu li a {
    display: block;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    color: #3d376f !important;
	font-size:0.8rem;
}
.dva-menu .dropdown-menu li a:hover {
    display: block;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    color: #3d376f !important;
    font-size: 0.8rem;
    background-color: #f1f1f6;
}
.dva-top-indicator{ padding: 0.7rem 0; background: #f1f1f6; }

.dva-log-settings{ font-weight:500; color:#e57716; }
.dva-log-settings ul li{ display:inline-block; }*/
/*.dva-log-settings ul li:first-child{ border-right: 1px solid #535c8b; }*/


/* Breadcrumbs */
/*.dva-top-indicator .breadcrumb{ font-weight: 500; padding: 0; margin-bottom: 0; border-radius: 0; background:transparent; }*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999999999999999999!important;
    display: none;
    overflow: hidden;
    outline: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    /* overflow-y: auto; */
    background-color: #00000094!important;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #1075b9;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #1075b9;
}

/* tabs */
.dva-tabs-h{margin: 10px 0 20px 0;}
.dva-tabs-h .nav-link.active{  color: #333; background-color: #f4f4f4; border-bottom: 3px solid #259ebf;border-right:0!important; border-radius: 0; }

.dva-tabs {
    background: #fafafa;
    margin-top: 10px;
}
.dva-tabs .nav-link {
    color: #5d5d5d;
    font-weight: 500;
    padding: 12px 12px 12px 10px;
    border-bottom: 1px solid #ddd;
}
.dva-tabs .nav-link:hover {
    color: #5d5d5d;
    background-color: #e4e4e4;
    border-radius: 0;
}
.dva-tabs .nav-link.active {
    color: #333;
    background-color: #f4f4f4;
    border-right: 3px solid #e3812a;
    border-radius: 0;
}
.dva-page-title {
    font-weight: 500;
    color: #1075b9;
    font-size: 1rem;
    /*padding-bottom: 0.5rem;*/
    border-bottom: 2px solid;
}
.dva-page-subtitle{ font-weight: 500; font-size: 1rem; color: #1f609c; /*padding-bottom: 0.5rem;*/ border-bottom: 1px solid #b5b7b9; }
.dva-page-subtitle1 {
    font-size: 15px;
    color: #1f609c;
    font-weight: bold;
}

.no-border-bottom{ border-bottom:none; }
.tab-content{
    margin-top: 10px;
}
/* Table */
.dva-table{ }
.dva-table th{ background: #f6f6f6; color: #535c8b; border-bottom: 0 !important; }
.dva-table th, .dva-table td {
    padding: 0.50rem 1.5rem;
    border: 0;
}
.dva-table td{ }
.dva-table tbody tr:nth-of-type(odd) { background: #fff; }
.dva-table tbody tr:nth-of-type(even) { background: #f5f8f9; }

.table-building-infra th{ background: #fafafa; color: #686868; }
.table-building-infra th, .table-building-infra td{ padding: 0.55rem 0.75rem; vertical-align: middle; border-top:none; }
.table-building-infra td{ border-bottom:1px dashed #ddd; }
.table-building-infra .fileinput{ margin-bottom:0; }

.fee-info-table { border: 1px dashed #eee; }
.fee-info-table .control-label{ margin-bottom:0; }
.fee-info-table td{ border-bottom: 1px dashed #eee; padding: 0.55rem 0.75rem; vertical-align: middle; border-top:none; }
.fee-info-table td.title{ background: #fafafa; width:180px; }

/* Date Picker */
.datepicker-dropdown.dropdown-menu{ font-size: 0.8rem; }

/* Input Addon*/
.inner-addon { position: relative; }
.inner-addon .fa { position: absolute; padding: 10px; color: #5e7aa5;  pointer-events: none; }
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* Institute Details */
.dva-logo-upload-insructions{ padding:0rem 1 rem 0rem 1rem; }
.dva-logo-upload-insructions ul li{ display: table; font-style: italic; color: #939393; line-height: 1.7; border-bottom: 1px dashed #ddd; padding: 0.5rem 0; }
.dva-logo-upload-insructions ul li span{ display:table-cell; vertical-align:top; }
.dva-logo-upload-insructions ul li span:first-child{ padding-right:0.5rem; }

/**Multi select***/
#multiselect .btn-group {
    position: relative;
    display: block!important;
    vertical-align: middle;
}
#multiselect .btn {
    display: inline-block!important;
    text-align: left!important;
    border: 1px solid #ced4da!important;
    padding: 0.270rem .75rem!important;
    font-size: 0.8rem!important;
    border-radius: 0!important;
    background-color: #ffffff!important;
    width: 100%!important;
}
.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px!important;
    width: 100%;
    font-size: 14px!important;
    color: #6c6868!important;
}
/*Added by Kamal*/
.weblink{
    text-decoration: underline;
    color: #0063fb;
}
.navbar-toggler {
    padding: .10rem .35rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0!important;
}
/******Login page******/
.tiles{
    background-color: #015086c4;
    text-align: center;
    padding: 15px 0 15px 0;
}
.tiles i,.tiles1 i{
    font-size: 25px;
    color: #ffffff;
    padding: 20px;
}
.tiles1{
    background-color: #0150868c;
    text-align: center;
    padding: 15px 0 15px 0;
}
.conent_bg {
    background: url('../images/grid1.jpg') ;
    background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
}
.iconArea{
    width: 100%;
     margin: 10% 0 0 0; 
}
.formArea {
    width: 100%;
    margin: 0 0 0 0;
    border-top: 3px solid #174e80;
    background-color: #ffffff; 
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.33);
}
.fpasswrd {
    margin-top: 20px!important;
    text-align: center;
}
.fpasswrd a{
    color: #174e80;
}
.formbg {
    padding: 10px 40px 10px;
}
.formTitle h3 {
    margin: 0 0 0px 0;
    text-transform: uppercase;
    text-align: center;
    color: #174e80;
    padding: 10px 0 5px 0;
    /* background-color: rgb(255, 255, 255); */
}
.formArea .form-group {
    margin: 0 0 12px;
}
.loginbtn {
    padding: 0;
    background-color: #174e80;
    text-transform: uppercase;
    color: #fff;
    border-color: #174e80;
    height: 42px;
    line-height: 42px;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
}
.loginbtn:hover {
    background-color: #0c589c;
    color: #fff;
    border-color: #15548e;
}
#forgotpass{
    margin-top:20px;
    text-align:right;
}
/**********Data Tables**********/
/*.table-bordered thead th {
    border-bottom-width: 0px;
    background-color: #f6f6f6;
    color: #004482;
}
.table-bordered thead td {
    border-bottom-width: 0px;
    color: #004482;
}*/
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    color: #174e80;
    opacity: 1;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    color: #174e80;
    opacity: 1;
}

/*******Home page tiles********/
.category-box {
    background-color: #fff;
    margin: 30px 0;
    height: 100px;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 0;
    position: relative;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.category-box:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.category-box .icon {
    text-align: center;
    position: absolute;
    top: -25px;
    margin: 0 auto;
    width: 100%;
}
.category-box .icon i {
    display: inline-block;
    font-size: 22px;
    width: 52px;
    height: 52px;
    color: #fff;
    line-height: 48px;
    box-shadow: 3px 6px 6px rgba(0,0,0,0.25);
}

.category-box .category-content li {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    width: 100%;
    padding-top: 40px;
    padding: 40px 10px 0 10px;
}
.category-box .category-content li a {
    color: #888;
    line-height: 20px;
}
.category-box .category-content li a:hover {
    color: #3498db;
    text-decoration:none;
}
.border-1 {
    border-bottom: 2px solid #3498db;
}

.border-2 {
    border-bottom: 2px solid #FF5353;
}

.border-3 {
    border-bottom: 2px solid #1DD2AF;
}

.border-4 {
    border-bottom: 2px solid #FE4080;
}

.border-5 {
    border-bottom: 2px solid #24A69A;
}

.border-6 {
    border-bottom: 2px solid #8E4162;
}

.border-7 {
    border-bottom: 2px solid #9A63C1;
}

.border-8 {
    border-bottom: 2px solid #512DA7;
}

.color-1 {
    background-color: #3498db!important;
}

.color-2 {
    background-color: #FF5353!important;
}

.color-3 {
    background-color: #1DD2AF!important;
}

.color-4 {
    background-color: #FE4080!important;
}

.color-5 {
    background-color: #24A69A!important;
}

.color-6 {
    background-color: #8E4162!important;
}

.color-7 {
    background-color: #9A63C1!important;
}

.color-8 {
    background-color: #512DA7!important;
}

.media{
    margin-top:10px;
}
.footer-container {
    color: #fff;
    background-color: rgb(11, 78, 122);
    padding-top: 2px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media only screen and (min-width: 1200px) {
	.dvet-nav-menu{ margin-top: 45px; }
}

@media only screen and (max-width: 1260px) {

}
@media only screen and (max-width: 1140px) {
    .navbar-brand-text { font-size: 16px; }
}
@media only screen and (max-width: 1102px) {
    
    .dva-brand-text {
    font-weight: 500;
    font-size: 0.8rem!important;
    color: #4c4c4c;
    margin-left: 1rem;
}
}
@media only screen and (max-width: 1050px) {
    .navbar-brand-text-con { margin: 5px 0px 5px 0px; text-align: center; float: none; }
    .category-box .category-content li {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    width: 100%;
    padding-top: 40px;
    padding: 40px 10px 0 10px;
}
    .dva-brand-text {
    font-weight: 500;
    font-size: 0.8rem!important;
    color: #4c4c4c;
    margin-left: 1rem;
}
    .mk-horizontal-menu{
        display:none!important;
    }
}

@media only screen and (max-width: 780px) {
	.navbar-brand img { width: 80px; }
	.navbar-brand-text { font-size: 14px; }
	.navbar-inverse #navbarCollapse { margin-top: 35px; }
    .contentpart {
    margin-top: 80px;
    padding: 0 15px 0 15px;
}
    .dva-brand-text {
    font-weight: 500;
    font-size: 0.8rem!important;
    color: #4c4c4c;
    margin-left: 1rem;
}
    .mk-horizontal-menu{
        display:none!important;
    }.mk-page-bar {
    display: flex;
    padding: 0.5rem 1rem;
    background: #174e80;
    color: #fff;
    position: fixed;
    /*width: calc(100% - 255px);*/
    z-index: 9999;
    font-size: 1rem;
    width:100%!important;
}
}

@media only screen and (max-width: 680px) {
	header{ min-height: 70px; }
	.navbar-brand img { width: 55px; }
	.navbar-brand-text-con { margin: 5px 0px 5px 0px; text-align: center; float: none; }
	.navbar-brand-text { font-size: 15px; }
	.navbar-inverse #navbarCollapse { margin-top: 15px; }
    .footer-container {
    font-size: 10px;
    }
    .dva-brand-text {
    display:none;
    }
    .contentpart {
    margin-top: 110px;
    padding: 0 15px 0 15px;
}
    .mk-horizontal-menu{
        display:none!important;
    }.mk-page-bar {
    display: flex;
    padding: 0.5rem 1rem;
    background: #174e80;
    color: #fff;
    position: fixed;
    /*width: calc(100% - 255px);*/
    z-index: 9999;
    font-size: 1rem;
    width:100%!important;
}
}

@media only screen and (max-width: 500px) {
	header{ min-height: 50px; }
	.navbar-brand img { width: 45px; }
	.navbar-brand-text { font-size: 12px; }
	.navbar-brand-text-con { margin: 5px 0px 0px 3px; }
	.navbar-brand { padding: 3px 5px; }
	.header-content p { font-size: 14px; }
	.contactus-con{ width:95%;}
    .footer-container {
    font-size: 10px;
    }
    .dva-brand-text {
    display:none;
    }
    .contentpart {
    margin-top: 80px;
    padding: 0 15px 0 15px;
    }
    .mk-horizontal-menu{
        display:none!important;
    }.mk-page-bar {
    display: flex;
    padding: 0.5rem 1rem;
    background: #174e80;
    color: #fff;
    position: fixed;
    /*width: calc(100% - 255px);*/
    z-index: 9999;
    font-size: 1rem;
    width:100%!important;
}
}

@media only screen and (max-width: 420px) {
	.header-content p { font-size: 10px; }
	.navbar-brand { padding: 2px 2px; }
	.navbar-brand-text{ font-size: 11px; }
	.nav-brand-txt-state{ font-size:8px; }
    .footer-container {
    font-size: 10px;
    }
    .dva-brand-text {
    display:none;
    }
    .contentpart {
    margin-top: 60px;
    padding: 0 15px 0 15px;
}
    .mk-horizontal-menu{
        display:none!important;
    }
    .mk-page-bar {
    display: flex;
    padding: 0.5rem 1rem;
    background: #174e80;
    color: #fff;
    position: fixed;
    /*width: calc(100% - 255px);*/
    z-index: 9999;
    font-size: 1rem;
    width:100%!important;
}
}
.dva-htab .nav-link.active, .dva-htab .show>.nav-link {
    color: #174e80;
    background-color: #eaf3f8;
    font-weight: 500;
}
.dva-htab .nav-link {
    background: #f6f6f6;
    margin: 0 0.4rem 0 0;
    color: #555;
    font-size: 0.9rem;
}
label {
    display: inline-block;
    margin-bottom:0.3rem;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #174E80;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark1 {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark1 {
    background-color: #174E80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark1:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark1:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
    background-color: transparent;
}
.dva-sub-title .icon {		
    text-align: center;		
	padding-right: 0.5rem;		
}


.dva-application-home-pbar{ display:table; width: 100%; }
.dva-application-home-pbar .status-pbar-row{ display:table-row; }
.dva-application-home-pbar .status-pbar-row .status-pbar-cell:first-child{ width:300px; padding: 0.8rem 0; }
.dva-application-home-pbar .status-pbar-cell{ display:table-cell; border-bottom: 1px dashed #eee; }
.dva-application-home-pbar .status-pbar-cell a{ color: #5595c2; font-weight: 500; cursor: default;}
.dva-application-home-pbar .status-pbar-cell a:hover{ text-decoration:none;}
.dva-application-home-pbar .status-pbar-cell.title{ font-weight: 500; font-size: 0.9rem; color: #28a745; }
.as-approved, .as-rejected, .as-pending{ font-size:1.6rem; }
.as-approved{ color:#59dd7b; }
.as-rejected{ color:#f26767; }
.as-pending{ color:#eee260; }
/******Homepage******/
.pviti-app-status {display: flex;flex-wrap: wrap;padding-left: 10px;}
.pviti-app-link.green {background: #91cf76;}
.pviti-app-status .pviti-app-link {width: 200px;margin: 0.5rem 1.5rem 1rem 0;padding: 0.3rem 0.8rem;color: #fff;transition: all 0.8s ease;}
.pviti-app-link .app-text {padding-top: 0.8rem;display: block;font-size: 0.9rem;}
.pviti-app-link .app-status .icon {font-size: 1.5rem;}
.pviti-app-link.green {background: #76bb58;}
.pviti-app-link.blue{ background: #609bc4; }
.pviti-app-link.pink{ background: #d581b4; }
.pviti-app-link.orange{ background: #f69863; }
.pviti-app-link.red{ background: #f05d5d; }
.pviti-app-link.sement{ background: #92a7b6; }
.pviti-app-link.dark-orange{ background: #e38341; }
.pviti-app-link.dark{ background:#898787; }
.pviti-app-link:hover{ transform:scale(1.1);text-decoration:none!important;} 
 

.pviti-appadmin-status{ display:flex; flex-wrap:wrap; }
.pviti-appadmin-status .pviti-appadmin-link{ width: 200px; margin: 0 1rem 1rem 0; padding: 0.5rem 1rem; color: #fff !important; cursor:pointer; transition:all 0.8s ease; }
.pviti-appadmin-link .app-status{ }
.pviti-appadmin-link .app-status .icon{ font-size: 1.5rem; padding: 0.6rem; color:#fff; }
.pviti-appadmin-link .app-status .status{ float:right; font-size: 2.2rem; }
.pviti-appadmin-link .app-text{ padding-top: 0.8rem; display: block; font-weight: 500; font-size: 1rem; }
.pviti-appadmin-link.green{ background: #91cf76; }
.pviti-appadmin-link.blue{ background: #55aac2; }
.pviti-appadmin-link.red{ background: #f69863;}
.pviti-appadmin-link:hover{ transform:scale(1.1);}



.aca-app-status {display: flex;flex-wrap: wrap;}
.aca-app-link.green {background: #91cf76;}
.aca-app-status .aca-app-link {width: 200px;margin: 0.5rem 1.5rem 1rem 0;padding: 0.3rem 0.8rem;color: #fff;transition: all 0.8s ease;}
.aca-app-link .app-text {padding-top: 0.8rem;display: block;font-size: 0.9rem;}
.aca-app-link .app-status .icon {font-size: 1.5rem;}
.aca-app-link.green {background: #76bb58;}
.aca-app-link.blue{ background: #609bc4; }
.aca-app-link.pink{ background: #d581b4; }
.aca-app-link.orange{ background: #f69863; }
.aca-app-link.red{ background: #f05d5d; }
.aca-app-link.sement{ background: #92a7b6; }
.aca-app-link.dark-orange{ background: #e38341; }
.aca-app-link.dark{ background:#898787; }

.aca-appadmin-status{ display:flex; flex-wrap:wrap;justify-content: space-between; } 
.aca-appadmin-status .aca-appadmin-link{margin: 0 1rem 1rem 0;padding: 0.5rem 0.5rem;color: #fff !important;cursor:pointer;transition:all 0.8s ease;border-radius: 50%;width: 125px;height: 125px;}
.aca-appadmin-link .app-status{text-align:center; }
.aca-appadmin-link .app-status .icon{ font-size: 1.5rem; padding: 0rem; color:#fff; }
.aca-appadmin-link .app-status .status{font-size: 1.5rem;}
.aca-appadmin-link .app-text{ padding-top: 0rem; display: block; font-weight: 500; font-size: 0.7rem; text-align:center;}
.aca-appadmin-link.green{background: #91cf76;border: 7px solid #149a354a;}
.aca-appadmin-link.orange{background:#ff9966 ;border: 7px solid #ad3a0063;}
.aca-appadmin-link.blue{background: #55aac2;border: 7px solid #0a576d42;}
.aca-appadmin-link.red{background: #e03333;border: 7px solid #bd0f0fcf;}
.aca-appadmin-link:hover{ transform:scale(1.1); }
.aca-appadmin-link .hvr-icon {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  
}
.aca-appadmin-link:hover .hvr-icon, .aca-appadmin-link:focus .hvr-icon, .aca-appadmin-link:active .hvr-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
             
}

.hovicon.effect-2 {
    color: #eea303;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;

}
.hovicon.effect-2:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;

}
/* Effect 2a */
 .hovicon.effect-2.sub-a:hover, .hovicon.effect-2.sub-a:hover i {
    color: #eea303;
       

}
.hovicon.effect-2.sub-a:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);

}
/* Effect 2b */
 .hovicon.effect-2.sub-b:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
  
}
.hovicon.effect-2.sub-b:hover, .hovicon.effect-2.sub-b:hover i {
    color: #fff;
}

.pviti-app-status a{
    text-decoration:none;
}
.badge-warning {
    background-color: #4295AC;
}



/*css added by JK */

.case-box-count{ float:left; margin:20px; padding:20px 0; text-align:center; border:1px solid #999999; border-radius:8px;} 

.case-box-count h1, .case-box-count h5{color:#fff;}

.legal-dashboard-table1{width:90%; margin-top:30px;}

.legal-dashboard-table1 .dva-table th{background:#898787; color:#fff;}

.legal-dashboard-table1 th{background:#898787 !important; color:#fff !important;}

.btn-submit .btn-warning{background:#76bb58; border-color:#76bb58} 

.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

.has-submenu-accordian{background: #333333;}
.has-submenu-accordian a{color:#fff !important; font-size:16px !important;}
.has-submenu-accordian i{color:#fff !important; font-size:16px !important;}

.mb-5, .my-5 {
    margin-bottom: 1rem !important;
}


.form-control[readonly]{background:#fff !important}

@media (min-width: 576px){
.modal-dialog {margin: 15% auto !important;}
.modal-dialog-grid {  max-width: 80% !important;   margin: 15% auto !important;}
.modal-dialog-grid1 {  max-width: 50% !important;  }
}

@media only screen and (max-width: 767px) {
	.case-box-count{ float:left; margin:20px 0; padding:20px 0;}
	.legal-dashboard-table1{width:100%;}
}