﻿
body, html { height: 100%; }
body{ display: flex; flex-direction: column; }
.mk-grid{ display: flex; flex-direction: column; flex: 1;  }
.mk-header{ flex:none; height: 55px; background:#6586a8; position: fixed; top: 0; left: 0; right: 0; z-index: 101; }
.mk-body{ flex: 1 0 auto; display:flex; flex-direction:row;  margin-top: 91px; }
.mk-body-no-layout{ margin:160px 0 30px 0; }
.mk-aside-left{background-color: #eaf3f8;transition: all .3s ease;width: 255px;position: fixed;height: calc(100vh - 91px);z-index: 9999;}
.mk-content-wrapper{ flex:1; margin-bottom: 40px; margin-left: 256px; transition: all .3s ease; }
.mk-content-wrapper-approver{ flex:1; margin-bottom: 40px; margin-left: 0px; transition: all .3s ease; }
.mk-page-bar{display:flex;padding: 0.5rem 1rem;background: #174e80;color: #fff;position: fixed;width: calc(100% - 255px);z-index: 9999;font-size: 1rem;}
.mk-page-bar-approver{display:flex;padding: 0.5rem 1rem;background: #174e80;color: #fff;position: fixed;width: calc(100%);z-index: 9999;font-size: 1rem;}
.mk-page-bar .mk-horizontal-menu{ padding-left:1rem; }
.mk-page-bar .mk-horizontal-menu .mk-hm-nav{ display:inline-block; position:relative; border-right: 1px solid #fff; }
/*.mk-page-bar .mk-horizontal-menu .mk-hm-nav.mk-hm-has-submenu:before{ position: absolute; content: '\f107'; top: 4px; right: 15px; font: normal normal normal 16px/1 FontAwesome; }
.mk-page-bar .mk-horizontal-menu .mk-hm-nav.mk-hm-has-submenu:before:last-child{ position: absolute; content:none!important; top: 4px; right: 15px; font: normal normal normal 16px/1 FontAwesome; }*/
.mk-page-bar .mk-horizontal-menu .mk-hm-nav a{ font-size:0.8rem; color:#fff; padding: 0 0.5rem 0 0.5rem; }
.mk-page-bar .mk-horizontal-menu .mk-hm-nav a:hover{ font-size:0.8rem; color:#fff; padding: 0 0.5rem 0 0.5rem;text-decoration:none!important; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown{ display:none; position:absolute; width: 250px; padding-top:0.8rem; }
.mk-page-bar .mk-horizontal-menu .mk-hm-has-submenu.active .mk-hm-dropdown{ display:block; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown ul{ background: #1F67A6; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown li{ position: relative; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown li a {
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    color: #dedede;
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    border: 1px solid #1F67A6;
}
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown li a:hover{ padding: 0.3rem 1rem 0.3rem 1.5rem; color:#fff; display: block; font-size:0.7rem; font-weight:500;text-decoration: none;background-color: #023463;border: 1px solid #0073FF; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown li a:active{ padding: 0.3rem 1rem 0.3rem 1.5rem; color:#fff; display: block; font-size:0.7rem; font-weight:500;text-decoration: none;background-color: #023463;border: 1px solid #0073FF; }
/*.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown li:before{ position:absolute; content:'\f105'; top: 10px; left: 12px; color:#fff; font: normal normal normal 16px/1 FontAwesome; }*/
.mk-hm-has-submenu:hover .mk-hm-dropdown{ display:block; }

.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown-submenu{ display:none; position:absolute; width: 250px; padding-top:0;left:100%;top:0;border-left:1px solid #ffffff; }
.mk-page-bar .mk-horizontal-menu .mk-hm-has-multi-submenu.active .mk-hm-dropdown{ display:block; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown-submenu ul{ background: #1F67A6; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown-submenu li{ position: relative; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown-submenu li a {
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    color: #dedede;
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    border: 1px solid #1F67A6;
}
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown-submenu li a:hover{ padding: 0.3rem 1rem 0.3rem 1.5rem; color:#fff; display: block; font-size:0.7rem; font-weight:500;text-decoration: none;background-color: #023463;border: 1px solid #0073FF; }
.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown-submenu li a:active{ padding: 0.3rem 1rem 0.3rem 1.5rem; color:#fff; display: block; font-size:0.7rem; font-weight:500;text-decoration: none;background-color: #023463;border: 1px solid #0073FF; }
/*.mk-page-bar .mk-horizontal-menu .mk-hm-dropdown li:before{ position:absolute; content:'\f105'; top: 10px; left: 12px; color:#fff; font: normal normal normal 16px/1 FontAwesome; }*/
.mk-hm-has-multi-submenu:hover .mk-hm-dropdown-submenu{ display:block; }

.mk-page-content{ padding:2rem; margin-top: 40px;}

.mk-menu-toggle, .mk-menu-toggle-mobile{ cursor:pointer; }
.mk-menu-close-mobile{  position: absolute; top: 10px; right: 15px; color: #5d6164; cursor:pointer; }

.mk-breadcumb-bar {
    display: flex;
    padding: 0rem 0rem;
    background: #ffffff;
    color: #fff;
    width: 70%;
    font-size: 1rem;
    background-color: #174e80!important;
    margin: 0 0 0 10px;
}
/* Menu */
.mk-sidebar-menu {margin-top: 0rem;margin-bottom: 30px;}
.mk-sidebar-navtitle {
    position: relative;
    padding: 0.5rem 1rem;
    font-weight: 500;
    background: #174e80;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    text-align: left;
    border-right: 1px solid #ffffff;
}
.mk-sbmenu-content .sub-menu li.active a {
    color: #0061a5 !important;
    background: #f3f3f3;
}
.mk-sbmenu-content .sub-menu li.active a:before {
    position: absolute;
    content: '\f105';
    top: 4px;
    left: 25px;
    font: normal normal normal 16px/1 FontAwesome;
}
.mk-sbmenu-content .multi-sub-menu li.active a {color: #0061a5 !important;background: #f3f3f3;}
.mk-sbmenu-content .multi-sub-menu li.active a:before {
    position: absolute;
    content: '\f105';
    top: 4px;
    left: 50px;
    font: normal normal normal 16px/1 FontAwesome;
}
.mk-sidebar-navtitle .navtitle{
     display: none; 
}
.mk-sbmenu-content{
    border-bottom: 1px dashed #d7d7d7;
}
.mk-sbmenu-content li {}
/*.mk-sbmenu-content li a {
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.1em;
    display: table;
    font-size: 0.9rem;
    font-weight: 500;
    color: #282828;
    width: 100%;
    text-decoration: none;
}*/
.mk-sbmenu-content li a {
    position: relative;
    padding: 0.3rem 1rem;
    font-size: 1.1em;
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    color: #0c0c0c;
     border-bottom: 1px dashed #d7d7d7; 
    width: 100%;
    text-decoration: none;
}
.mk-sbmenu-content li a:hover ,.mk-sbmenu-content li a:hover .menu-icon{
    color: #005fb5;
}

.menu-icon {
    font-size: 0.9rem;
    color: #174e80;
    display: table-cell;
    vertical-align: middle;
    width:30px;
}
.navigation-icon{
    font-size: 1.2rem;
}
.menu-text {
    display: table-cell;
    vertical-align: middle;
}
.mk-sbmenu-content li.active a{ color: #fff; }
.mk-sbmenu-content li.active a .menu-icon{color: #174e80;}
.mk-sbmenu-content .has-submenu a[aria-expanded="false" data-parent="#main-menu"]:before, .mk-sbmenu-content .has-submenu a[aria-expanded="true"]:before { content: '\f105'; display: block; position: absolute; right: 20px; font: normal normal normal 14px/1 FontAwesome; font-size: 0.9rem; top: 0.8rem; }
/*.mk-sbmenu-content .has-submenu a[aria-expanded="true"]:before{ content: "\f107";}*/
.mk-sbmenu-content li.active > a {background: #eaf3f8;color: #174e80;}
.mk-sbmenu-content li a[aria-expanded="true"]{ }
.mk-sbmenu-content li a[aria-expanded="true"] ~ .sub-menu{background: #ffffff;}
.mk-sbmenu-content .sub-menu li{ position:relative; }
.mk-sbmenu-content .sub-menu li a{padding: 0.3rem 3rem;font-size: 0.7rem;border-bottom: 1px dashed #eee;color: #0c0c55;}
.mk-sbmenu-content .sub-menu li a:hover{padding: 0.3rem 3rem;font-size: 0.7rem;border-bottom: 1px dashed #eee;color: #0061a5 !important;background: #f3f3f3;}
.mk-sbmenu-content .multi-sub-menu li a{padding: 0.3rem 3rem 0.3rem 4rem;font-size: 0.7rem;border-bottom: 1px dashed #eee;color: #0c0c55;}
.mk-sbmenu-content .multi-sub-menu li a:hover{padding: 0.3rem 3rem 0.3rem 4rem;font-size: 0.7rem;border-bottom: 1px dashed #eee;color: #0061a5 !important;background: #f3f3f3;}
.mk-sbmenu-content .sub-menu li:before {position: absolute;content: '\f105';top: 4px;left: 25px;font: normal normal normal 16px/1 FontAwesome;}
.mk-sbmenu-content .multi-sub-menu li:before {position: absolute;content: '\f105';top: 4px;left: 50px;font: normal normal normal 16px/1 FontAwesome;}
.mk-sb-minimized .mk-page-bar {width: calc(100% - 60px);}
/* Menu Minnimized */
.mk-sb-minimized .mk-aside-left{ width:60px; }
.mk-sb-minimized .mk-header-content  .mk-head-brand{ width:60px; }
.mk-sb-minimized .mk-header-content  .mk-head-brand span{ display:none; }
.mk-sb-minimized .mk-menu-close-mobile, .mk-sb-minimized .navtitle{ display:none; }
/*.mk-sb-minimized .mk-sbmenu-content .menu-icon{ font-size:1.6rem; }*/
.close-img{
    width:18px!important;
}
.mk-sb-minimized .mk-sbmenu-content .menu-icon {
    font-size: 0.9rem;
    text-align: center;
}
.mk-sb-minimized .mk-sbmenu-content .menu-text{ display:none; }
.mk-sb-minimized .mk-sbmenu-content .has-submenu a:before{ display:none; }

.mk-sb-minimized .has-submenu{ position:relative; }
.mk-sb-minimized .has-multi-submenu{ position:relative; }
.mk-sb-minimized .mk-sbmenu-content .sub-menu{ display: none; position: absolute; top: 0; left: 60px; background: #fff; min-width: 225px; z-index: 9999; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); }
.mk-sb-minimized .mk-sbmenu-content .multi-sub-menu{ display: none; position: absolute; top: 0; left: 225px; background: #fff; min-width: 225px; z-index: 9999; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); }
.mk-sb-minimized .mk-sbmenu-content .sub-menu li a{ padding: 0.3rem 2.2rem; }
.mk-sb-minimized .mk-sbmenu-content .multi-sub-menu li a{ padding: 0.3rem 2rem 0.3rem 4rem; }
.mk-sb-minimized .has-submenu:hover .sub-menu{ display:block; }
.mk-sb-minimized .has-multi-submenu:hover .multi-sub-menu{ display:block; }
.mk-sb-minimized .mk-content-wrapper{ margin-left:60px; }




/* Footer */
.mk-footer {background: #174e80;padding: 0 1rem;color: #ffffff; transition: all .3s ease;font-size: 0.7rem;text-align: right;z-index: 999;line-height: 2;width: calc(100% - 255px);margin-left: 255px;}
.mk-footer a {color: #ffffff;}
.mk-footer span{ display:block; }
.mk-footer_v {background: #174e80;padding: 0 1rem;color: #ffffff; transition: all .3s ease;font-size: 0.7rem;text-align: center;z-index: 999;line-height: 2;}
.mk-footer_v a {color: #ffffff;}
.mk-footer_v span{ display:block; }

@media (min-width: 993px){
	.mk-menu-toggle-mobile, .mk-menu-close-mobile{ display:none; }
}
	
@media (max-width: 993px){
	
	.mk-menu-toggle{ display:none; }
	.mk-sidebar-navtitle{ display:block; }
	.mk-header-content .mk-head-brand{ width:auto; }
	.mk-head-settings .text{ display:none; }
	.mk-content-wrapper { margin-left: 0; }
    .mk-page-bar {width: 100%;}
	/* Menu */
	.mk-aside-left{ position: fixed; top: 0; left: -255px; bottom: 0; box-shadow: 0 0 15px 1px rgba(113,106,202,.2); z-index: 999999; transition: all .3s ease; }
	
	.mk-footer{ margin-left: 0px;width:100%; }
    .mk-footer_v{ margin-left: 0px;width:100%; }
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    body {
        font-size: 14px;
    }
    .aca-appadmin-status{ display:flex; flex-wrap:wrap;justify-content: space-between; } 
}

/* Portrait tablets and medium desktops */
@media (min-width: 991px) and (max-width: 1199px) {
    body {
        font-size: 14px;
    }
    .aca-appadmin-status{ display:flex; flex-wrap:wrap; } 
}

@media (min-width: 1199px) and (max-width: 1340px) {
    body {
        font-size: 14px;
    }
    .aca-appadmin-status{ display:flex; flex-wrap:wrap;} 
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    body {
        font-size: 14px;
    }
    .aca-appadmin-status{ display:flex; flex-wrap:wrap;} 
}
/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 12px;
    }
    .aca-appadmin-status{ display:flex; flex-wrap:wrap; } 
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    body {
        font-size: 10px;
    }
    .aca-appadmin-status{ display:flex; flex-wrap:wrap; } 
}